COLOR_INPUT=pelicula_restaurada.mkv
COLOR_OUTPUT=prueba-cmnet2.mkv

# Prueba recomendada antes de procesar la película completa
TEST_START=00:10:00
TEST_DURATION=20

REF_EVERY=2
DDCOLOR_SIZE=512

CMNET_MAX_SIDE=512
CMNET_WINDOW=20
CMNET_TOP_K=20
CMNET_MEM_EVERY=10

# RTX 3060 = 8.6. Cambiar para otra GPU si es necesario.
TORCH_CUDA_ARCH_LIST=8.6
