# Restauración de vídeo
VIDEO_INPUT="pelicula.avi"
VIDEO_RESTORED="pelicula_restaurada.mkv"
SCALE=2
GPU=0

# Aumento directo del volumen (opcional)
AUDIO_INPUT="pelicula.mkv"
AUDIO_OUTPUT="pelicula-volumen-alto.mkv"
VOLUME=2.0
AUDIO_BITRATE=384k

# Normalización de volumen (opcional)
NORMALIZED_OUTPUT="pelicula-audio-normalizado.mkv"
LOUDNESS=-16
